<% content_for(:title, "Show Recipes for Tag | Coolest Recipes") %>

<h3><u>Show Recipes for a Tag</u></h3>

<%= render('layouts/errors', :object => @tag) %>

<h4><b>The recipes tagged with '<%= @tag.tag_text %>' are:</b></h5>
  <% if @recipes.empty? %>
  <h3>There are no recipes in the database</h3>
<% else %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><h4><a href="/recipes/<%= recipe.id %>/show">'<%= recipe.title %>'</a>,
      <% if (1..5).include?(recipe.rating) %>
        <span class="smaller">rated <%= recipe.rating %> star(s),
      <% else %>
        <span class="smaller"><span class="red">not yet rated</span>,
      <% end %>
        contributed on <%= recipe.date_contributed %> by
        <% if !recipe.contributor.nil? %>
          '<%= recipe.contributor.user_name %>'
        <% else %>
          'Contributor no longer registered'
         <% end %></span></h4></li>
    <% end %>
  </ul>
<% end %>
<br><br><br>
<hr>
<h4><a href="/tags/index">See all tags</a></h4>
<h4><a href="/recipes/index">See all the Coolest Recipes</a></h4>
<% if @user.type == "Cook" %>
  <h4><a href="/tried_recipes">See all recipes you have tried</a></h4>
<% end %>
<h4><a href="/recipe_users/index">See all Coolest Recipes users</a></h4>
<h4><a href="/recipe_users/<%= @user.id %>/edit">Edit password and/or screen name</a></h4>
<h4><a href="/recipe_users">Go to Welcome User menu</a></h4>
<h4><a href="/">Logoff from Coolest Recipes</a></h4>
